/* swiper imports must come first */
@import "swiper/css";
@import "swiper/css/navigation";

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.section-container {
  @apply px-4 sm:px-6 lg:px-8 py-16 container mx-auto;
}

body {
  /* @apply font-nunito; */
}
